:root {
  --background: linear-gradient(114.87deg, #002a3d 14.45%, #0a4b59 92.16%);
  --font-family: "DM Sans", sans-serif;
  --c-main: #00b09a;
  --c-main-light: #1ae2c9;
  --c-fonts: #f5f5f5;
  --c-light-2: #7ea3ab;
  --c-light: #467c8b;
  --c-light-6: #6481ac;
  --c-light-3: #2a4c55;
  --c-light-4: #1c2a2d;
  --c-light-5: #0d262e;
  --log-color: rgba(22, 39, 45, 0.9);
  --c-accept: #7dca30;
  --c-not-accept: red;
  --c-not-sure: #ffcd00;

  --div-radius-1: 4px;
  --div-body-p: 1.5rem;
}

body {
  font-family: var(--font-family);
  background: var(--background);
  color: var(--c-fonts);
  height: 100vh;
}
a,
select {
  font-family: var(--font-family);
  transition: opacity ease 0.3s;
  &:hover {
    opacity: 0.5;
  }
}

.custom--scroll {
  /* max-height must provided; */
  overflow-y: scroll;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 0.6rem;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--c-light-2);
    border-radius: 100px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--c-light-3);
    border-radius: 100px;
  }
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
}

#app {
  color: green;
  @mixin media 500px {
    color: red;
  }
}

.header {
  padding: 2rem 0;
  border-bottom: 1px solid var(--c-light);
  display: flex;

  &-wrapper {
  }

  &-logo {
  }

  &-log {
    font-size: 1rem;
    text-align: right;
    color: var(--c-light-2);
    margin-left: auto;
    &-verison {
    }

    &-multithread {
    }
  }
}

h2 {
  font-size: 1.2rem;
  font-weight: bold;
  font-size: 22px;
  line-height: 29px;
  color: var(--c-main);
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.main {
  &-title {
    font-family: DM Sans;
    font-weight: normal;
    font-size: 2.7rem;
    line-height: 47px;
    padding-top: 2rem;
  }

  &-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 -1rem;
    > div {
      padding: 0 1rem;
    }
  }

  &-body {
    padding: 0 1rem;
    box-sizing: border-box;
    padding: var(--div-body-p);
    background-color: var(--c-light-5);
    border-radius: var(--div-radius-1);
    position: relative;
    height: 480px;
    width: 100%;
    /*max-width: 640px;
    max-height: 480px;*/
    overflow: hidden;

    .lds-ripple {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      margin: auto;
      z-index: 100;
    }

    &--result {
      width: auto;
    }
  }

  &-preview {
    flex-shrink: 0;
    flex-basis: 640px;
    &-select {
      position: absolute;
      right: var(--div-body-p);
      border-radius: var(--div-radius-1);
      overflow: hidden;
      min-width: 12ch;
      z-index: 2500;

      span {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0.2em 0.4rem;
        bottom: 0;
        pointer-events: none;
        display: flex;
        align-items: center;
        background-color: var(--c-light);
        z-index: 10;

        svg {
          transform: scale(0.6);
        }
      }

      select {
        appearance: none;
        outline: 0;
        box-shadow: none;
        border: 0 !important;
        font-size: 1rem;
        font-weight: bold;
        padding: 0.5rem 0.6rem;
        border: none;
        width: 100%;
      }
    }
    &__log {
      max-height: 2ch;
      transition: all 0.3s ease;
    }
    &-log {
      background-color: var(--log-color);
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: 2500;
      margin: var(--div-body-p);
      border-radius: var(--div-radius-1);
      padding: 1rem;
      box-sizing: border-box;
      font-family: "Fira Mono", sans-serif;
      &:hover {
        .main-preview__log {
          max-height: 30ch;
        }
      }
      p {
        margin: 0;
      }
    }
  }
  &-img {
    max-width: 100%;
  }
  &-result {
    flex-basis: 100%;
    &-body {
      background-color: var(--c-light-5);
      font-family: "Fira Mono", sans-serif;
    }

    &-container {
      display: flex;
      max-height: calc(480px - var(--div-body-p) * 2);
    }

    &-img {
      padding-right: 0.8rem;
    }

    &-data {
      flex-basis: 100%;
      max-height: 50ch;
      padding-right: 1rem;
    }
  }

  &-canvas {
    margin: calc(var(--div-body-p) * -1);
    position: relative;
    z-index: 500;
    width: calc(var(--div-body-p) * 2 + 100%);
    &-overlay {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1500;
      width: 100%;
    }
  }
  &-video {
    display: none;
  }
}

.data-image {
  padding-bottom: 1rem;
  position: relative;
  width: 8rem;
  img {
    max-width: 100%;
    object-fit: contain;
    display: block;
  }
  &-container {
  }
  &-fieldname {
    padding-top: 0.2rem;
    margin-bottom: 0.5rem;
    color: var(--c-light);
  }
}

.data-el {
  border-bottom: 1px solid var(--c-light-3);
  display: block;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  position: relative;

  &--accepted {
    svg {
      fill: var(--c-accept);
    }
  }

  &--not-accepted {
    svg {
      fill: var(--c-not-accept);
    }
    .data-el-fieldname {
      color: var(--c-not-accept);
    }
  }

  &--not-sure {
    svg {
      fill: var(--c-not-sure);
    }
    .data-el-fieldname {
      color: var(--c-not-sure);
    }
  }
  svg {
    position: absolute;
    top: 0.3rem;
  }
  &-value {
    font-size: 0.8rem;
    padding-left: 1rem;
    word-break: break-all;

    &::before {
      color: green;
    }
  }

  &-fieldname {
    padding-left: 1rem;
    color: var(--c-light-6);
    font-size: 0.8rem;
  }
}

.btn {
  border: none;
  padding: 0.8rem 1.2rem;
  margin-right: 2rem;
  box-sizing: border-box;
  background: #00b09a;
  border-radius: var(--div-radius-1);
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 1.1rem;
  display: inline-flex;
  min-width: 14ch;
  cursor: pointer;
  justify-content: center;
  transition: all 0.3s;
  color: var(--c-light-4);

  &:hover {
    background-color: var(--c-main-light);
  }

  &:active {
  }
  > span {
    display: flex;
  }

  svg {
    margin-right: 0.2rem;
  }
}

.button-group {
  padding: 2rem 0;
  display: inline-flex;
  z-index: 5000;
  position: relative;
}

.btn-capture {
}

.btn-upload {
}

/* loader */

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
